/* STYLING SECTIONS DOCUMENTATION */
/*
*** LANDING PAGE [
----- HEADER (22)
----- CABECERA (77)
----- ABOUT ME (174)
----- SERVICIOS (289)
----- MEDIA (414)
----- CONTACTO (514)
----- FOOTER (630)
]
***  SERVICES PAGES [
----- pending
]
***  MEDIA PAGES [
----- BLOG ()
----- CONTENIDOS ()
----- PODCAST ()
]
*/

/* HEADER: LOGO + NAVBAR */
.logo {
  font-size: 1.5rem;
  font-weight: 700;
  align-self: flex-start;
}

.logo img {
  max-width: 130px;
  height: auto;
}

.navbar {
  padding: 0.5rem 5rem 0.5rem 3rem !important;
}

.custom-underline-color .nav-link {
  font-size: 1.3rem;
}

@media (min-width: 1200px) {
  .custom-underline-color .nav-link {
      font-size: clamp(0.9rem, 1.5vw, 1.8rem);
  }
}

#root .App nav div .custom-underline-color .nav-link.active {
  border-bottom-color: transparent;
  position: relative;
  font-weight: normal;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(30%);
  width: 60%;
  border-bottom: 0.6rem solid var(--primary-color);
  transition: all 0.3s ease;
}

@media (max-width: 991px) {
  .nav-link.active::after {
    width: 100%;
    border-bottom: 0.2rem solid var(--primary-color);
  }
}

#root .App nav div .custom-underline-color .nav-link:hover {
  border-bottom-color: transparent !important;
  color: black;
}

/* CABECERA */

.cabecera {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  background-size: cover;
  background-position: center;

  background-image: url('images/imagenhome.webp');
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .cabecera {
      background-image: url('images/imagenhome-small.webp');
  }
}

.cabecera .content-wrapper {
  display: flex;
  flex-direction: column;
}

.cabecera .box-cabecera {
  position: relative;  
  padding: 20px;
  border-radius: 8px;
  margin-right: 4rem !important;
}

@media (max-width: 767px) {
  .cabecera .box-cabecera {
    background: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
  }
}

.cabecera h1 {
  font-size: clamp(1.2rem, 1.5vw, 1.8rem); /* Ajusta el tamaño según la pantalla */
  color: var(--text-muted-color) !important;
  line-height: 1.4;
  margin-top: 15px;
}

/* Para pantallas más grandes */
@media (min-width: 1200px) {
  .cabecera h1 {
      font-size: clamp(1.1rem, 2vw, 3rem);
  }
}

/* Para pantallas más pequeñas */
@media (max-width: 992px) {
  .cabecera h1 {
    font-size: clamp(0.1rem, 1.7vw, 1.1rem);
  }
}

@media (max-width: 769px) {
  .cabecera h1 {
    font-size: clamp(1rem, 2vw, 1.3rem);
  }
}

.cabecera img {
  width: clamp(20px, 6vw, 150px);
  height: auto;
  object-fit: contain;
}

.offset-md-7-5 {
  margin-left: 62.5%;
}

/* Bottom Border (último 25%) */
.box-cabecera::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 7%; /* Ancho de la línea */
  width: 20%; /* Longitud del borde inferior */  
  background-color: var(--primary-color);
}

[data-component="cabecera"] .right-corner {
  position: absolute;
  bottom: 0;
  padding: 0;
  right: 0;
  width: 3%; /* Ancho de la línea */
  height: 50%; /* Longitud del borde derecho */
  background-color: var(--primary-color);
}

/* ABOUT ME */

.custom-card {
  border: hidden !important;
}

.custom-card div.card-body .custom-underline-color {
  text-decoration: none;
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 0.2rem;
  text-decoration-skip-ink: none;
}

/*Botón de AboutMe*/
.aboutme-button button {
  font-size: 2rem !important;
  padding: 0;
  width: auto;
  gap: 10px;
  box-shadow: none;
  outline: none;
}

.aboutme-button .accordion-button::after {
  background-color: rgba(33,37,41,1) !important; /* Color pantano */
  border-radius: 50%;
  width: 25px !important;
  height: 25px !important;
  background-image: url('assets/flecha.svg') !important;
  background-position: center;
  background-repeat: no-repeat;
}

.aboutme-button .accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important;
}
.aboutme-button .accordion-button:not(.collapsed)::after {
  background-image: url('assets/flecha.svg') !important;
}

.aboutme-button .accordion-button:focus {
  box-shadow: none;
}

/* Acordeón personalizado */
.accordion-header {
  padding: 0 !important;
}

.accordion-header {
  width: 100%;
  border: none !important;
  outline: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-item {
  border: 3px solid var(--primary-color) !important;
}

@media (min-width: 1200px) {
  .accordion-button {
    font-size: clamp(0.9rem, 1.2vw, 1.5rem) !important;
  }
}

.custom-accordion .accordion-button {
  color: #4A4A4A;
}

.accordion-item:first-of-type {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.accordion-item:last-of-type {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.custom-accordion .accordion-button:not(.collapsed) {
  background-color: var(--background-color);   /* Fondo blanco cuando el acordeón está abierto */
  border-color: var(--primary-color);   /* Borde amarillo */
  color: #4A4A4A;
}

.custom-accordion .accordion-body {
  color: #4A4A4A;
}

.custom-accordion ul {
  list-style: none;   /* Quitar los puntos de las listas */
  padding-left: 0;   /* Quitar espacio del lado izquierdo */
}

.custom-accordion li {
  list-style-type: none;
  text-align: start;
}

.custom-hr {
  width: 50%;
  margin-bottom: 1.5rem;
  height: 5px;
  color: var(--light-grey);   /* old IE */
  background-color: var(--light-grey);   /* Modern Browsers */
  margin: 0 auto;
  left: 0;
  right: 0;
}

/* SERVICIOS */

.class-container h2 {
  margin: 0;
  padding: 0;
}

/* Personalización bordes descripción servicio */
.custom-border-box {
  position: relative;
  padding: 20px;
}

.custom-border-box::before,
.custom-border-box::after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
}

/* Top Border (primer 25%) */
.custom-border-box::before {
  top: 0;
  left: 0;
  height: 5px; /* Ancho de la línea */
  width: 25%; /* Longitud del borde superior */
}

/* Bottom Border (último 25%) */
.custom-border-box::after {
  bottom: 0;
  right: 0;
  height: 5px; /* Ancho de la línea */
  width: 25%; /* Longitud del borde inferior */  
}

/* Left Top Corner (primer 25% del borde izquierdo) */
.custom-border-box .left-corner {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px; /* Ancho de la línea */  
  height: 50%; /* Longitud del borde izquierdo */  
  background-color: var(--primary-color);
}

/* Right Bottom Corner (último 25% del borde derecho) */
.custom-border-box .right-corner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 5px; /* Ancho de la línea */  
  height: 50%; /* Longitud del borde derecho */  
  background-color: var(--primary-color);
}

#services div.custom-carousel, div.carousel-item {
  padding-top: 10px;
  overflow: visible;
}

/* Cards inside slider */
.card-title h5 {
  text-align: center;
}

/* Ajustar  cartas carousel */
#services div.carousel-card {
  border: 5px solid;
  border-color: var(--primary-color);
  max-height: 700px;
}

#services div.carousel-card .card-img-top {
  max-height: 200px;
}

#services div.carousel-card .custom-btn-carousel {
  border: transparent;
  width: 10rem;
  border-radius: 20px;
  border-color: var(--primary-color);
  color: var(--primary-color);
  background-color: var(--dark-grey);
}

/* Personalizar indicadores del Carousel */
.custom-carousel .carousel-indicators button {
  width: 12px;
  /* Tamaño del indicador */
  height: 12px;
  border-radius: 50%;
  /* Forma redonda */
  border: 2px solid black;
  /* Borde negro */
  background-color: white;
  /* Fondo blanco (inactivo) */
  opacity: 1;
  /* Evita la transparencia predeterminada */
}

.custom-carousel .carousel-indicators .active {
  background-color: black;
  /* Fondo negro (activo) */
  border-color: black;
  /* Borde negro (activo) */
}

#services .carousel-container {
  position: relative; /* Necesario para contener el fondo */
  background-image: url('./images/bg-services-section.webp');
  background-size: cover; /* Ajusta el tamaño del patrón */
  background-repeat: no-repeat; /* Evita que se repita */
  background-position: center; /* Centra el fondo */
  padding: 20px; /* Espaciado alrededor del carrusel */
} 

/* Botones next/back carousel */
#carousel-btn-back i {
  color: var(--primary-color);
}

#carousel-btn-next i {
  color: var(--primary-color);
}

/* MEDIA */

.media-section {
  padding: 50px 0;
}

.media-pic-box img {
  border-radius: 10px;
  height: max-content;
}

.yellow-box {
  background-color: var(--primary-color);
  width: 100%;
  height: 300px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.zoom-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease;
}

.yellow-box:hover .zoom-img,
.black-box:hover .zoom-img {
  transform: translate(-50%, -50%) scale(1.2);
}

.long-btn {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  padding: 10px 20px;
  color: var(--dark-gray);
  text-decoration: none;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.long-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.vertical-btn {
  background-color: transparent;
  border: 2px solid var(--dark-gray);
  border-radius: 20px;
  padding: 10px;
  color: var(--dark-gray);
  text-align: center;
  display: block;
  width: 80%;
  margin: auto;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.vertical-btn:hover {
  background-color: var(--dark-gray);
  color: #fff;
}

.black-box {
  background-color: #000;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.black-box .social-icons {
  display: flex;
  flex-wrap: nowrap;
}

.black-box .social-icons ul {
  margin: 0 10px;
  padding: 0;
  list-style: none;
}

.black-box .social-icons li {
  color: var(--light-gray);
  text-align: center;
  margin-bottom: 5px;
}

/* CONTACTO */

.form-container {
  background-color: var(--light-grey); /* Gris claro */
  border-radius: 15px; /* Bordes redondeados */
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Personalización bordes formulario */
.custom-form-border {
  position: relative;
  padding: 20px;
}

.custom-form-border::before,
.custom-form-border::after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
}

/* Top Border (primer 25%) */
.custom-form-border::before {
  top: 0;
  left: 0;
  height: 5px; /* Ancho de la línea */
  width: 10%; /* Longitud del borde superior */
}

/* Bottom Border (último 25%) */
.custom-form-border::after {
  bottom: 0;
  right: 0;
  height: 5px; /* Ancho de la línea */
  width: 10%; /* Longitud del borde inferior */ 
}

/* Left Top Corner (primer 25% del borde izquierdo) */
.custom-form-border .left-corner {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px; /* Ancho de la línea */  
  height: 20%; /* Longitud del borde izquierdo */  
  background-color: var(--primary-color);
}

/* Right Bottom Corner (último 25% del borde derecho) */
.custom-form-border .right-corner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 5px; /* Ancho de la línea */  
  height: 20%; /* Longitud del borde derecho */  
  background-color: var(--primary-color);
}


.form-container h2 {
  color: var(--dark-grey);
}

.form-container .form-label {
  color: var(--dark-grey);
  font-weight: 600;
}

#contact .form-container .form-control {
  border: 3px solid;
  border-right: none;
  border-color: var(--primary-color);
}

#contact .form-container textarea.form-control {
  border: 3px solid var(--primary-color); /* Borde amarillo */
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
}

#contact .form-container .form-control::placeholder {
  color: var(--light-grey);
}

/* Estilo para los íconos - NEW */
#contact .form-container .custom-icon {
  background-color: white;
  color: black;
  border: 3px solid var(--primary-color); /* Borde amarillo */
  border-left: none;
  border-radius: 5px 0 0 5px;
  padding: 5px 10px; /* Espaciado interno */
}

#contact .submit-btn {
  background-color: var(--primary-color); /* Fondo amarillo */
  color: var(--dark-grey); /* Texto negro */
  font-weight: 600;
  border: none;
  width: 10rem;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

#contact .submit-btn:hover {
  background-color: #e6e600; /* Amarillo más oscuro */
  color: black;
}

@media (max-width: 768px) {
  .form-container {
    padding: 20px;
  }
}

/* FOOTER */

#footer h5 {
  color: var(--dark-grey);
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  margin-bottom: 20px;
}

.footer {
  position: relative;
  width: 100%;
  color: var(--dark-grey);
  margin-top: 1rem;
}

.footer ul {
  padding: 0;
  list-style: none;
}

.footer ul li i {
  margin-right: 0.5rem;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
}

.footer i {
  color: var(--primary-color);
  font-size: 1.5em;
}

.pulse-icon:hover {
  text-shadow: 
    0 0 5px #BABABA,       /* Sombra gris claro */
    0 0 10px #FFFF29;      /* Sombra amarilla */
  animation: pulse 1s infinite; /* Aplica la animación pulse */
}

/* Animación de pulsación */
@keyframes pulse {
  0% {
    text-shadow: 
      0 0 5px #BABABA, 
      0 0 10px #FFFF29;
  }
  50% {
    text-shadow: 
      0 0 10px #BABABA, 
      0 0 20px #FFFF29;
  }
  100% {
    text-shadow: 
      0 0 5px #BABABA, 
      0 0 10px #FFFF29;
  }
}