/* STYLING SECTIONS DOCUMENTATION */
/*
*** LANDING PAGE [
----- HEADER (22)
----- CABECERA (43)
----- ABOUT ME (52)
----- SERVICIOS (109)
----- MEDIA () 
----- CONTACTO ()
----- FOOTER ()
]
***  SERVICES PAGES [
----- pending
]
***  MEDIA PAGES [
----- BLOG ()
----- CONTENIDOS ()
----- PODCAST
]
*/

/* HEADER: LOGO + NAVBAR */
.logo {
  font-size: 1.5rem;
  font-weight: 700;
  align-self: flex-start;
}

.logo img {
  max-width: 100px;
  height: auto;
}

#root .App nav div .custom-underline-color .nav-link.active {
  border-bottom-color: var(--primary-color);
  font-weight: normal;
}

#root .App nav div .custom-underline-color .nav-link:hover {
  border-bottom-color: var(--primary-color);
}

/* CABECERA */
#root .App .cabecera .cabecera-hr {
  margin-bottom: 1.5rem;
  border: none;
  height: 5px;
  color: var(--light-gray);
  /* old IE */
  background-color: var(--light-gray);
  /* Modern Browsers */
}

/* ABOUT ME */
#root .App div.row div.mb-4.card {
  border: hidden;
  /* Ocultar el borde de la carta */
}

#root .App div.row div.mb-4.card div.card-body .custom-underline-color {
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 0.2rem;
  text-decoration-skip-ink: none;
}

/* Acordeón personalizado */
#root .App div.row div.row .custom-accordion div.accordion-item {
  border: 3px solid;
  border-color: var(--primary-color);
}

.custom-accordion .accordion-button {
  color: #4A4A4A;
}

.custom-accordion .accordion-button:not(.collapsed) {
  background-color: var(--background-color);
  /* Fondo blanco cuando el acordeón está abierto */
  border-color: var(--primary-color);
  /* Borde amarillo */
  color: #4A4A4A;
}

.custom-accordion .accordion-body {
  color: #4A4A4A;
}

.custom-accordion ul {
  list-style: none;
  /* Quitar los puntos de las listas ok */
  padding-left: 0;
  /* Quitar espacio del lado izquierdo ok */
}

.custom-accordion li {
  list-style-type: none;
  text-align: start;
}

.custom-hr {
  width: 50%;
  margin-bottom: 1.5rem;
  height: 5px;
  color: var(--light-gray);
  /* old IE */
  background-color: var(--light-gray);
  /* Modern Browsers */
  margin: 0 auto;
  left: 0;
  right: 0;
}

/* SERVICIOS */
.class-container h2 {
  margin: 0;
  padding: 0;
}

/* Personalización bordes descripción servicio */
.custom-border-box {
  position: relative;
  padding: 20px;
}

.custom-border-box::before,
.custom-border-box::after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
}

/* Top Border (primer 25%) */
.custom-border-box::before {
  top: 0;
  left: 0;
  height: 5px;
  /* Ancho de la línea */
  width: 25%;
  /* Longitud del borde superior */
}

/* Bottom Border (último 25%) */
.custom-border-box::after {
  bottom: 0;
  right: 0;
  height: 5px;
  /* Ancho de la línea */
  width: 25%;
  /* Longitud del borde inferior */
}

/* Left Top Corner (primer 25% del borde izquierdo) */
.custom-border-box .left-corner {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  /* Ancho de la línea */
  height: 50%;
  /* Longitud del borde izquierdo */
  background-color: var(--primary-color);
}

/* Right Bottom Corner (último 25% del borde derecho) */
.custom-border-box .right-corner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 5px;
  /* Ancho de la línea */
  height: 50%;
  /* Longitud del borde derecho */
  background-color: var(--primary-color);
}

/* Cards inside slider */
.card-title h5 {
  text-align: center;
}

/* Ajustar  cartas carousel */
#services div.card {
  border: 5px solid;
  border-color: var(--primary-color);
  max-height: 700px;
  /* text-overflow: clip; */
}

#services div.card .card-img-top {
  max-height: 200px;
}

#services div.card button {
  border: transparent;
  width: 10rem;
  border-radius: 20px;
  border-color: var(--primary-color);
  color: var(--primary-color);
}

/* Personalizar indicadores del Carousel */
.custom-carousel .carousel-indicators button {
  width: 12px;
  /* Tamaño del indicador */
  height: 12px;
  border-radius: 50%;
  /* Forma redonda */
  border: 2px solid black;
  /* Borde negro */
  background-color: white;
  /* Fondo blanco (inactivo) */
  opacity: 1;
  /* Evita la transparencia predeterminada */
}

.custom-carousel .carousel-indicators .active {
  background-color: black;
  /* Fondo negro (activo) */
  border-color: black;
  /* Borde negro (activo) */
}