/* STYLING SECTIONS DOCUMENTATION */
/*
*** LANDING PAGE [
----- HEADER (22)
----- CABECERA (43)
----- ABOUT ME (52)
----- SERVICIOS (106)
----- MEDIA () 
----- CONTACTO ()
----- FOOTER ()
]
***  SERVICES PAGES [
----- pending
]
***  MEDIA PAGES [
----- BLOG ()
----- CONTENIDOS ()
----- PODCAST
]
*/

/* HEADER: LOGO + NAVBAR */
.logo {
  font-size: 1.5rem;
  font-weight: 700;
  align-self: flex-start;
}

.logo img {
  max-width: 100px;
  height: auto;
}

#root .App nav div .custom-underline-color .nav-link.active {
  border-bottom-color: var(--primary-color);
  font-weight: normal;
}

#root .App nav div .custom-underline-color .nav-link:hover {
  border-bottom-color: var(--primary-color);
}

/* CABECERA */
#root .App .cabecera .cabecera-hr {
  margin-bottom: 1.5rem;
  border: none;
  height: 5px;
  color: var(--light-gray);  /* old IE */
  background-color: var(--light-gray);  /* Modern Browsers */
}

/* ABOUT ME */
#root .App div.row div.mb-4.card {
  border: hidden; /* Ocultar el borde de la carta */
}

#root .App div.row div.mb-4.card div.card-body .custom-underline-color {
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 0.2rem;
  text-decoration-skip-ink: none;
}

/* Acordeón personalizado */
.custom-accordion .accordion-button {
  color: #4A4A4A;
}

.custom-accordion .accordion-button:not(.collapsed) {
  background-color: var(--background-color);
  /* Fondo blanco cuando el acordeón está abierto */
  border-color: var(--primary-color);
  /* Borde amarillo */
  color: #4A4A4A;
}

.custom-accordion .accordion-body {
  color: #4A4A4A;
}

.custom-accordion ul {
  list-style: none;
  /* Quitar los puntos de las listas ok */
  padding-left: 0;
  /* Quitar espacio del lado izquierdo ok */
}

.custom-accordion li {
  list-style-type: none;
  text-align: start;
}

.custom-hr {
  width: 50%;
  margin-bottom: 1.5rem;
  /* border: none; */
  height: 5px;
  color: var(--light-gray);  /* old IE */
  background-color: var(--light-gray);  /* Modern Browsers */
  margin: 0 auto;
  left: 0;
  right: 0;
}


/* SERVICIOS */

.class-container h2 {
  margin: 0;
  padding: 0;
}
/* Cards inside slider */
.card-title h5 {
  text-align: center;
}
