/* STYLING SECTIONS DOCUMENTATION */
/*
*** LANDING PAGE [
----- HEADER (22)
----- CABECERA (43)
----- ABOUT ME ()
----- SERVICIOS ()
----- MEDIA () 
----- CONTACTO ()
----- FOOTER ()
]
----- SERVICES PAGES [
----- pending
]
----- MEDIA PAGES [
----- BLOG ()
----- CONTENIDOS ()
----- PODCAST
]
*/

/* HEADER: LOGO + NAVBAR */
.logo {
  font-size: 1.5rem;
  font-weight: 700;
  align-self: flex-start;
}

.logo img {
  max-width: 100px;
  height: auto;
}

#root .App nav div .custom-underline-color .nav-link.active {
  border-bottom-color: var(--primary-color);
  font-weight: normal;
}

#root .App nav div .custom-underline-color .nav-link:hover {
  border-bottom-color: var(--primary-color);
}

/* CABECERA */
#root .App .cabecera .cabecera-hr {
  margin-bottom: 1.5rem;
  border: none;
  height: 5px;
  color: var(--light-gray);  /* old IE */
  background-color: var(--light-gray);  /* Modern Browsers */
}

/* ABOUT ME */
/* Acordeón personalizado */
.custom-accordion .accordion-button {
  color: #4A4A4A;
}

.custom-accordion .accordion-button:not(.collapsed) {
  background-color: var(--background-color);
  /* Fondo blanco cuando el acordeón está abierto */
  border-color: var(--primary-color);
  /* Borde amarillo */
  color: #4A4A4A;
}

.custom-accordion .accordion-body {
  color: #4A4A4A;
  /* Color del texto en el cuerpo ok */
}

.custom-accordion ul {
  list-style: none;
  /* Quitar los puntos de las listas ok */
  padding-left: 0;
  /* Quitar espacio del lado izquierdo ok */
}

/* SERVICIOS */
.class-container h2 {
  margin: 0;
  padding: 0;
}
.card-title h5 {
  text-align: center; /* Not working */
}

card-subtitle .custom-underline-color {
  border-bottom-color: var(--primary-color);
  font-weight: normal;
} 