/* AM5 GLOBAL styles --> vbles globales (colores, tipografia), estilos básicos html (body, h1, p), fuente y color del background...  */
/* Importar la fuente Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* Importar iconos bootstrap */
@import 'bootstrap-icons/font/bootstrap-icons.css'; 

:root {
  --primary-color: #FFFF29;
  --dark-grey: #4A4A4A;
  --light-grey: #B9B9B9;
  --background-color: #f8f8f8;
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--background-color);
}

/* Para pantallas más grandes */
@media (min-width: 1200px) {
  body {
    font-size: clamp(1.1rem, 1.2vw, 1.2rem) !important;
  }
}

/* Para pantallas más pequeñas */
@media (max-width: 992px) {
  body {
    font-size: clamp(0.1rem, 1.7vw, 1.1rem) !important;
  }
}

@media (max-width: 769px) {
  body {
    font-size: clamp(1rem, 2vw, 1.3rem) !important;
  }
}

/* h3 {
  color: var(--dark-gray);
  border: 5px solid var(--primary-color);
  text-align: center;
} */

[data-component="cabecera"] h1 {
  color: inherit;
  position: inherit;
  border-left: 1px solid #cecece !important;
  text-align: start;
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}

@media (min-width: 1200px) {
  p {
    font-size: clamp(0.9rem, 1.2vw, 1.5rem) !important;
  }
}

h1 {
  color: var(--dark-gray);
  text-align: center;
}

@media (min-width: 1200px) {
  .h2, h2 {
    font-size: clamp(1.3rem, 1.2vw, 2.2rem) !important;
  }
}

h2 {
  color: var(--dark-gray);
  border: 5px solid var(--primary-color);
  border-right: inherit; 
  text-align: center;
  position: relative; /* Necesario para posicionar el pseudo-elemento */
}

h2::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0; /* Se aplica al borde derecho */
  height: 100%;
  width: 5px; 
  background: linear-gradient(
    to bottom,
    var(--primary-color) 0%,
    var(--primary-color) 25%,
    transparent 25%,
    transparent 75%,
    var(--primary-color) 75%,
    var(--primary-color) 100%
  ); /* Degradado para mostrar solo el primer y último 25% */
  z-index: -1; /* Asegúrate de que quede detrás del texto */
}

/*
Colores por defecto bootstrap-react: light (gris clar) / secondary (gris fosc) / dark (negre) / warning (groc fort) -> bg="color"
*/