/* AM5 GLOBAL styles --> vbles globales (colores, tipografia), estilos básicos html (body, h1, p), fuente y color del background...  */
/* Importar la fuente Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
  --primary-color: #FFFF29;
  --dark-gray: #4A4A4A;
  --light-gray: #BABABA;
  --background-color: #f8f8f8;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--dark-gray);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: var(--dark-gray);
  border: 5px solid var(--primary-color);
  text-align: center;
}

/* Refactorizar estilo HR pendiente!! */
hr {
  width: 40%;
  margin: auto;
}

section {
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: auto;
}

button {
  background-color: var(--primary-color);
  color: var(--dark-gray);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 600;
}

/*
Colores por defecto bootstrap-react: light (gris clar) / secondary (gris fosc) / dark (negre) / warning (groc fort) -> bg="color"
*/