/* AM5 GLOBAL styles --> vbles globales (colores, tipografia), estilos básicos html (body, h1, p), fuente y color del background...  */
/* Importar la fuente Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* Importar iconos bootstrap */
@import 'bootstrap-icons/font/bootstrap-icons.css'; 

:root {
  --primary-color: #FFFF29;
  --dark-gray: #4A4A4A;
  --light-gray: #BABABA;
  --background-color: #f8f8f8;
}

body {
  background-color: var(--background-color);
}

h3 {
  color: var(--dark-gray);
  border: 5px solid var(--primary-color);
  text-align: center;
}

h1 {
  color: var(--dark-gray);
  border: 5px solid var(--primary-color);
  border-right: none;
  text-align: center;
  position: relative; /* Necesario para posicionar el pseudo-elemento */
}

h1::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0; /* Se aplica al borde derecho */
  height: 100%; /* Ocupa toda la altura del h2 */
  width: 5px; /* Ancho del borde */
  background: linear-gradient(
    to bottom,
    var(--primary-color) 0%,
    var(--primary-color) 25%,
    transparent 25%,
    transparent 75%,
    var(--primary-color) 75%,
    var(--primary-color) 100%
  ); /* Degradado para mostrar solo el primer y último 25% */
  z-index: -1; /* Asegúrate de que quede detrás del texto */
}

h2 {
  color: var(--dark-gray);
  border: 5px solid var(--primary-color);
  border-right: none;
  text-align: center;
  position: relative; /* Necesario para posicionar el pseudo-elemento */
}

h2::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0; /* Se aplica al borde derecho */
  height: 100%; /* Ocupa toda la altura del h2 */
  width: 5px; /* Ancho del borde */
  background: linear-gradient(
    to bottom,
    var(--primary-color) 0%,
    var(--primary-color) 25%,
    transparent 25%,
    transparent 75%,
    var(--primary-color) 75%,
    var(--primary-color) 100%
  ); /* Degradado para mostrar solo el primer y último 25% */
  z-index: -1; /* Asegúrate de que quede detrás del texto */
}

/*
Colores por defecto bootstrap-react: light (gris clar) / secondary (gris fosc) / dark (negre) / warning (groc fort) -> bg="color"
*/